[submodule "src/ap-portal-webadmin"]
	path = src/ap-portal-webadmin
	url = https://github.com/K-PaaS/ap-portal-webadmin
	branch = kpaas
[submodule "src/ap-portal-webuser"]
	path = src/ap-portal-webuser
	url = https://github.com/K-PaaS/ap-portal-webuser
	branch = kpaas
